/* Styling for the menu bar */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  list-style-type: none;
  background-color: #333;
}

.menu button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.menu button a {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu button a:hover {
  background-color: #111;
}

/* Section page display */
section {
  display: none;
  padding: 50px;
}

section.active {
  display: block;
}

/* Styling for maker-page structure */
.maker-page {
  display: flex;
  border: 2px solid black;
  padding: 20px;
}

.emoji-maker {
  flex: 3;
}

.outcome {
  flex: 1;
}

/* Maker-page: styling for emoji maker */
.emoji-maker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.emoji-maker-component {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.emoji-maker-component:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.emoji-maker-component:active {
  transform: scale(0.95);
}

.emoji-maker-component img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.emoji-maker-component img:hover {
  transform: scale(1.1);
  border-color: #666;
  cursor: pointer;
}

.emoji-maker-component .image {
  display: flex;
}

.emoji-maker-component .image img {
  margin-right: 10px;
}

/*Styling the form*/
.outcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 400px;
  padding: 10px;
  margin-right: 20px;
}

.outcome-display {
  width: 100%;
  height: 300px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post-form label {
  width: 100%;
  text-align: left;
}

.post-form input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
}

.post-form input[type="submit"] {
  width: 100%;
}

/*****Face display*********/
.outcome-display {
  position: relative;
  text-align: center;
}

.outcome-display img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*****Styling the browser post*********/
.post {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
}

.post-header {
  margin-bottom: 10px;
}

.post-body {
  position: relative;
  text-align: center;
  width: 100%;
  height: 300px;
  border: 2px solid black;
  margin-bottom: 10px;
}
.post-body img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/*comment*/

.comments-section {
  display: none;
}

.comments-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-emoji-info {
  flex: 30%;
}

.comments-display {
  flex: 40%;
  margin-left: 50px;
}

.comment-submit-form {
  flex: 30%;
  display: flex;
  flex-direction: column;
}
