/* remove margin on body */
body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.error {
  font-weight: bolder;
  color: red;
}

/* Styling for the menu bar */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  list-style-type: none;
  background-color: #333;
}

.menu button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.menu a {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu button a:hover {
  background-color: #111;
}

#sign-in-section {
  display: flex;
  color: white;
  align-items: center;
  gap: 8px;
}

#sign-in-section button {
  color: white;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid white;
}
