/* remove margin on body */
body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.error {
  font-weight: bolder;
  color: red;
}

/* Styling for the menu bar */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  list-style-type: none;
  background-color: #333;
}

.menu button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.menu a {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu button a:hover {
  background-color: #111;
}

#sign-in-section {
  display: flex;
  color: white;
  align-items: center;
  gap: 8px;
}

#sign-in-section button {
  color: white;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid white;
}

/* Section page display */
section {
  padding: 50px;
}

/* Styling for maker-page structure */
.maker-page {
  display: flex;
  border: 2px solid black;
  padding: 20px;
}

.emoji-maker {
  flex: 3;
}

.outcome {
  flex: 1;
}

/* Maker-page: styling for emoji maker */
.emoji-maker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.emoji-maker-component {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.emoji-maker-component img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

.emoji-maker-component img:hover {
  transform: scale(1.1);
  border-color: #666;
  cursor: pointer;
}

.emoji-maker-component .image {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.emoji-maker-component .image img {
  margin-right: 10px;
}

.component-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  max-width: 80px;
  text-align: center;
}
.component-item p {
  font-size: 0.75rem;
}

/*Styling the form*/
.outcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 400px;
  padding: 10px;
  margin-right: 20px;
}

.outcome-display {
  width: 100%;
  height: 300px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post-form label {
  width: 100%;
  text-align: left;
}

.post-form input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
}

.post-form input[type="submit"] {
  width: 100%;
}

/*****Face display*********/
.outcome-display {
  position: relative;
  text-align: center;
}

.outcome-display img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*****Styling the browser post*********/
.post {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
}

.post-header {
  margin-bottom: 10px;
}

.post-body {
  position: relative;
  text-align: center;
  width: 100%;
  height: 300px;
  border: 2px solid black;
  margin-bottom: 10px;
}
.post-body img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
